.loader{
    z-index: 99;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader.hidden{
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
.anim{
    display: flex;
}

.anim > div{
    width: 18px;
    height: 18px;
    background-color:var(--main-color);
    border-radius: 50%;
    display: inline-block;
animation: troisPoint 0.5s infinite ease-in-out alternate;
}

.anim .bounce1{
    animation-delay: -0.3s;
}
.anim .bounce2{
    animation-delay: -0.15s;

}

@keyframes troisPoint{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}