.clients{
    /* background-color: aquamarine; */
}

.checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-style: italic; */
    color: var(--main-color);
    /* border: 1px solid var(--main-color); */
    padding: 0 5px 0 0;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-light)
}
.checkbox input{
   height:15px;
   width: 15px;
    border-radius: 25px;
 
    margin: 2px 5px 0;
    cursor: pointer;
    
}


/* Edit Client */

.acces{
 background-color: var(--main-color);
 color: white;
 padding: 5px;
 border-radius: var(--border-radius);
 margin-left: 1px;
}

.acces-x{
cursor: pointer;
}

.acces-x:hover{
color: red;
}

.autorisation{
display: flex;
justify-content: flex-start;
align-items: center;
}