.print-minute-content{
    width: 100%;
    height: 100%;
    min-width: 700px;
    /* border: 1px solid var(--main-color); */
    border-radius: var(--border-radius);
    /* padding: 5px; */
    font-size: 1rem;
}

.m-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3{
    color: var(--main-color);
    align-self: center;
    font-size: 1.2rem;
}
.body{
    /* height: 400px;
    overflow-y: scroll; */
}

.table{
    width: 100%;
}

.table th, .table td{
    border: 1px solid var(--main-color);
    font-size: 1rem;

}
.tableau th, .table td{
    border: 1px solid var(--main-color);
    font-size: 0.8rem;

}
.table th{
    color: var(--main-color);
    font-weight: bold;
    background-color: white;
}
.tableau th{
    color: var(--main-color);
    font-weight: bold;
    background-color: white;
}

.fieldset{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-color);
    border-radius: var(--border-radius);
    padding-bottom: 5px;
    margin: 5px;
    /* margin-top: 5px;
    margin-bottom: 5px; */
}

 .legend{
    font-weight: bold;
    /* font-size: 1.2rem; */
    text-align: center;
    padding: 0;
}

p{
    text-align: center;
}
/* img{
    width: 200px;
} */
.bg-logo {
    position: fixed;
    right: 20px;
    bottom: 0;
   
    opacity: 0.3;
  }
@media print {
    /* @page {size: landscape;
   
    } */
  @page{
    margin: 5px;
  }
  .minute-footer{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
  }

}