/* RenderInput */
.input-Box {
    display: flex;
    align-items: center;
    position: relative;
    

}

.input-Box input {
    width: 100%;
    padding: 5px 5px;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow-light);
    /* box-shadow: var(--box-shadow); */
        color: var(--txt-color);
    text-transform: capitalize;
    /* font-weight: bold; */
    margin-bottom: 15px;
    border: none;
    background: transparent;
    border-radius: var(--border-radius);
    /* border: 1px solid var(--main-color); */
    outline: none;
    text-align: center;
    margin: 0 1px;

}

.input-Box label {
    color: var(--txt-color);
    position: absolute;
    text-align: center;
    /* padding: 1px 0; */

    pointer-events: none;
    transition: 0.2s ease-in;

    top: -20px;
    left: 10px;
    right: 10px;
    color: var(--main-color);
    font-size: 1rem;
    font-style: italic;
}

.input-Box input:focus~label,
.input-Box input:valid~label {
    top: -20px;
    left: 10px;
    right: 10px;
    color: var(--main-color);
    font-size: 1rem;
    font-style: italic;
    /* font-weight: bold; */
}