.listing {
    position: relative;
    /* z-index: 99; */
}

.listing-item {
    display: none;
    position: absolute;
    z-index: 20;

    right: 0px;
    width: max-content;
    max-height: 90px;
    overflow: auto;
    min-width: 55px;

    box-shadow: var(--box-shadow-light);
    border-radius: var(--border-radius);
    background-color: white;
    /* border: 1px solid var(--main-color); */
    font-size: 0.8rem;
    color: var(--main-color);

    text-align: left;
    text-transform: capitalize;
    margin-top: 2px;
    padding: 5px 1px 5px 5px;

}
.footer-item {
    display: none;
    position: absolute;
    top: -3px;
    right: 0px;
    /* width: max-content; */
    
    z-index: 20;
    
    /* min-width: 55px; */

    box-shadow: var(--box-shadow-light);
    border-radius: var(--border-radius);
    background-color: white;
    /* border: 1px solid var(--main-color); */
    font-size: 0.8rem;
    color: var(--main-color);

    text-align: left;
   
    padding: 2px 2px 0 2px;
    cursor: pointer;

}

.actif {
    display: block;
   
}



.listing .item:hover {
    background-color: var(--second-bg);
    color: var(--main-color);
    box-shadow: 0 0px 1px hsl(0deg 0% 0% / 20%), 0 1px 2px hsl(0deg 0% 0% / 20%);
}