.header{
    display: flex;
    align-items: center;
    /* background-color: var(--main-color); */
    color: var(--main-color);
    border-radius: var(--border-radius);
    padding: 5px;
   
}
.h_left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.h_center{
display: flex;
align-items: center;
}

.h_center svg{
    margin-left: -25px;
}
.h_input{
    width: 100%;
    border-radius: var(--border-radius);
    text-align: center;
    color: var(--main-color);
    font-size: 1rem;
    border: 1px solid var(--main-color);
}
.h_right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}